nav {
  height: 70px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.container__ {
  display: flex;
  align-items: center;
}

.item:first-child {
  margin-right: auto;
}

.item:last-child {
  margin-left: auto;
  font-family: 'Bungee';
}
