nav {
  height: 70px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5em;
}

.nav_tweet {
  margin-top: 22px;
}

nav > span {
  font-family: Bungee;
}

nav > div {
  text-align: center;
  font-family: Bungee;
  font-size: 85%;
}
