@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    color: white;
  }

  #tweet_container {
    margin: 60px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .profile-header {
    width: 48%;
    margin-bottom: 20px;
  }
}
