section {
  margin: 30px 0px;
}

.tweet-article {
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  padding: 30px;
  margin: 20px 0px;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.tweet-article:hover {
  box-shadow: 6px 6px rgb(193, 191, 191);
}

.tweet-article > header {
  display: flex;
  flex-direction: column;
}

.tweet-article > header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-article > header > div > img {
  height: 30%;
}

.tweet-article > header > div > h2 {
  color: rgb(191, 191, 211);
  font-size: 22px;
  padding-left: 5px;
}

.tweet-article > header > p {
  color: rgb(221, 205, 215);
  word-wrap: break-word;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  hr {
    height: 2px;
    background-color: gray;
    width: 100%;
  }

  .tweet,
  footer > span {
    padding: 0px 20px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer > div {
    display: flex;
    flex-direction: row;
  }

  footer > div > span {
    padding: 10px 10px;
    color: #4156a1;
  }

  footer > div > span:hover {
    color: #b88d2e;
  }
}
